---
layout: home
title: Bootstrap
base_url: "./"
---

<main class="bs-masthead" id="content" role="main">
  <div class="container">
    <h1>Bootstrap</h1>
    <p class="lead">Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</p>
    <p>
      <a href="http://condorthemes.com/cleanzone/js/bootstrap/%7B%7B%20site.download%20%7D%7D" class="btn btn-outline-inverse btn-lg" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Download', 'Download 3.0.0']);">Download Bootstrap</a>
    </p>
  </div>
</main>
