/*#content_wrap {*/
.updates-page .unstyled LI
{
	padding-left: 20px;
	margin-top: 20px;
	border-bottom: 1px solid #DFDFDF;
	padding-bottom: 20px;
}
.updates-page .unstyled LI SMALL
{
	margin-bottom: 10px;
	display: block;
	color: #999999;
}
/*width: 100%;
min-width: 550px !important;
}
#content_margin {
min-width: 980px !important;
max-width: 980px !important;
margin: auto;
}*/
H1
{
	font-weight: bold;
	color: #E64C3C;
	font-size: 22px;
}
.content_element
{
	border: 4px solid #DFDFDF;
	margin-top: 14px;
	background: #FFFFFF;
}
.padded
{
	padding: 4%;
}
.half_width
{
	max-width: 490px !important;
	min-width: 485px !important;
}
.content_hide_top
{
	border-top: 0;
	margin-top: 0;
}
.content_text
{
	background: #FFF;
	padding: 5px 8px;
	color: #000;
	padding-left: 10px;
	font-size: 16px;
}
.content_header
{
	font-size: 22px;
	font-weight: bold;
	padding: 20px;
	border-bottom: 1px solid #ECECEC;
	background: #FFF;
}
.content_footer
{
	=padding: 10px;
	border-top: 1px solid #ECECEC;
	background: #FFF;
	text-align: center;
}
.autocomplete-suggestions
{
	border: 1px solid #999;
	background: #FFF;
	/*+border-radius:0 0 5px 5px;*/
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	-khtml-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	overflow: auto;
}
.autocomplete-suggestion
{
	padding: 10px 5px;
	border-top: 1px solid #999999;
	white-space: nowrap;
	overflow: hidden;
}
.autocomplete-selected
{
	background: #F0F0F0;
}
.autocomplete-suggestions STRONG
{
	font-weight: normal;
	color: #E54B3B;
}
