.footer_wrap
{
	padding: 40px 0;
	background-color: #333C47;
}
.footer
{
	margin: auto;
}
.footer SPAN, .footer A
{
	color: #FFF;
	font-size: 13px;
	margin-right: 30px;
	text-decoration: none;
}
.footer A:hover
{
	color: #A9C6E4;
}
.content_footer
{
	=padding: 10px;
	border-top: 1px solid #ECECEC;
	background: #FFF;
	text-align: center;
}
.footer
{
	margin: 10px 0 10px 10px;
}
.footer SPAN, .footer A
{
	color: #FFFFFF;
	font-size: 13px;
	margin-right: 20px;
	text-decoration: none;
}
.footer A:hover
{
	color: #8DC1E6;
}
.footer .search_request_form_link
{
	float: none;
	color: #FFFFFF;
}
