.form_field
{
	font-weight: bold;
	font-size: 16px;
	vertical-align: top;
	padding: 24px 0 0 10px;
}
.commentForm .input-wrapper
{
	position: relative;
	padding-top: 10px;
}
.commentForm .input-wrapper TEXTAREA
{
	border: 3px solid #DFDFDF;
}
INPUT[type=text], INPUT[type=password]
{
	/*+border-radius:5px;*/
	-moz-border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
	-khtml-border-radius: 5px !important;
	border-radius: 5px !important;
	border: 4px solid #EAEAEA !important;
}
INPUT[type=text]:focus, INPUT[type=password]:focus
{
	/*+border-radius:5px;*/
	-moz-border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
	-khtml-border-radius: 5px !important;
	border-radius: 5px !important;
	/*+box-shadow:none;*/
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	border: 4px solid #EAEAEA !important;
}
.form_value
{
	padding: 0 0 10px 20px;
}
.form_value INPUT, .home_input, .search_input
{
	border: 4px solid #EAEAEA;
	padding: 9px 11px;
	font-family: inherit;
	width: 250px;
}
.form_value .input_error
{
	border: 4px solid #F35444;
}
.form_value .form_error
{
	color: #F35444;
	font-size: 12px;
	display: block;
	padding: 3px 0 0 4px;
}
.form_text_error
{
	color: #F35444;
	font-size: 12px;
	padding: 10px 0 4px;
	text-align: center;
	display: block;
}
.form_text_success
{
	color: #23A96E;
	font-size: 12px;
	padding: 10px 0 4px;
	text-align: center;
	display: block;
}
.form_submit
{
	text-align: center;
	padding: 25px 0 20px;
}
.form_submit INPUT, .other_submit
{
	background: rgb(236, 125, 114);
	/*Old browsers*/
	background: -moz-linear-gradient(top, rgba(236,125,114,1) 0%, rgba(235,115,103,1) 2%, rgba(232,94,80,1) 4%, rgba(230,83,68,1) 7%, rgba(217,69,54,1) 100%);
	/*FF3.6+*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,125,114,1)), color-stop(2%,rgba(235,115,103,1)), color-stop(4%,rgba(232,94,80,1)), color-stop(7%,rgba(230,83,68,1)), color-stop(100%,rgba(217,69,54,1)));
	/*Chrome,Safari4+*/
	background: -webkit-linear-gradient(top, rgba(236,125,114,1) 0%,rgba(235,115,103,1) 2%,rgba(232,94,80,1) 4%,rgba(230,83,68,1) 7%,rgba(217,69,54,1) 100%);
	/*Chrome10+,Safari5.1+*/
	background: -o-linear-gradient(top, rgba(236,125,114,1) 0%,rgba(235,115,103,1) 2%,rgba(232,94,80,1) 4%,rgba(230,83,68,1) 7%,rgba(217,69,54,1) 100%);
	/*Opera 11.10+*/
	background: -ms-linear-gradient(top, rgba(236,125,114,1) 0%,rgba(235,115,103,1) 2%,rgba(232,94,80,1) 4%,rgba(230,83,68,1) 7%,rgba(217,69,54,1) 100%);
	/*IE10+*/
	background: linear-gradient(to bottom, rgba(236,125,114,1) 0%,rgba(235,115,103,1) 2%,rgba(232,94,80,1) 4%,rgba(230,83,68,1) 7%,rgba(217,69,54,1) 100%);
	/*W3C*/
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec7d72', endColorstr='#d94536',GradientType=0 );
	/*IE6-9*/
	border: none;
	padding: 13px 40px;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 15px;
	/*+box-shadow:0px 0px 5px #EA7367;*/
	-moz-box-shadow: 0px 0px 5px #EA7367;
	-webkit-box-shadow: 0px 0px 5px #EA7367;
	-o-box-shadow: 0px 0px 5px #EA7367;
	box-shadow: 0px 0px 5px #EA7367;
	display: inline-block;
}
.other_submit.taccd
{
	background: rgb(108, 107, 107);
	/*Old browsers*/
	background: -moz-linear-gradient(top, rgba(108,107,107,1) 0%, rgba(97,95,95,1) 2%, rgba(72,70,70,1) 4%, rgba(60,58,58,1) 7%, rgba(58,56,56,1) 31%, rgba(55,53,53,1) 33%, rgba(55,53,53,1) 44%, rgba(52,50,50,1) 47%, rgba(52,50,50,1) 60%, rgba(49,47,47,1) 62%, rgba(49,47,47,1) 76%, rgba(47,44,44,1) 78%, rgba(44,42,42,1) 100%);
	/*FF3.6+*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(108,107,107,1)), color-stop(2%,rgba(97,95,95,1)), color-stop(4%,rgba(72,70,70,1)), color-stop(7%,rgba(60,58,58,1)), color-stop(31%,rgba(58,56,56,1)), color-stop(33%,rgba(55,53,53,1)), color-stop(44%,rgba(55,53,53,1)), color-stop(47%,rgba(52,50,50,1)), color-stop(60%,rgba(52,50,50,1)), color-stop(62%,rgba(49,47,47,1)), color-stop(76%,rgba(49,47,47,1)), color-stop(78%,rgba(47,44,44,1)), color-stop(100%,rgba(44,42,42,1)));
	/*Chrome,Safari4+*/
	background: -webkit-linear-gradient(top, rgba(108,107,107,1) 0%,rgba(97,95,95,1) 2%,rgba(72,70,70,1) 4%,rgba(60,58,58,1) 7%,rgba(58,56,56,1) 31%,rgba(55,53,53,1) 33%,rgba(55,53,53,1) 44%,rgba(52,50,50,1) 47%,rgba(52,50,50,1) 60%,rgba(49,47,47,1) 62%,rgba(49,47,47,1) 76%,rgba(47,44,44,1) 78%,rgba(44,42,42,1) 100%);
	/*Chrome10+,Safari5.1+*/
	background: -o-linear-gradient(top, rgba(108,107,107,1) 0%,rgba(97,95,95,1) 2%,rgba(72,70,70,1) 4%,rgba(60,58,58,1) 7%,rgba(58,56,56,1) 31%,rgba(55,53,53,1) 33%,rgba(55,53,53,1) 44%,rgba(52,50,50,1) 47%,rgba(52,50,50,1) 60%,rgba(49,47,47,1) 62%,rgba(49,47,47,1) 76%,rgba(47,44,44,1) 78%,rgba(44,42,42,1) 100%);
	/*Opera 11.10+*/
	background: -ms-linear-gradient(top, rgba(108,107,107,1) 0%,rgba(97,95,95,1) 2%,rgba(72,70,70,1) 4%,rgba(60,58,58,1) 7%,rgba(58,56,56,1) 31%,rgba(55,53,53,1) 33%,rgba(55,53,53,1) 44%,rgba(52,50,50,1) 47%,rgba(52,50,50,1) 60%,rgba(49,47,47,1) 62%,rgba(49,47,47,1) 76%,rgba(47,44,44,1) 78%,rgba(44,42,42,1) 100%);
	/*IE10+*/
	background: linear-gradient(to bottom, rgba(108,107,107,1) 0%,rgba(97,95,95,1) 2%,rgba(72,70,70,1) 4%,rgba(60,58,58,1) 7%,rgba(58,56,56,1) 31%,rgba(55,53,53,1) 33%,rgba(55,53,53,1) 44%,rgba(52,50,50,1) 47%,rgba(52,50,50,1) 60%,rgba(49,47,47,1) 62%,rgba(49,47,47,1) 76%,rgba(47,44,44,1) 78%,rgba(44,42,42,1) 100%);
	/*W3C*/
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c6b6b', endColorstr='#2c2a2a',GradientType=0 );
	/*IE6-9*/
}
.form_submit INPUT:hover, .other_submit:hover
{
	/*+box-shadow:0px 0px 5px #DC4636;*/
	-moz-box-shadow: 0px 0px 5px #DC4636;
	-webkit-box-shadow: 0px 0px 5px #DC4636;
	-o-box-shadow: 0px 0px 5px #DC4636;
	box-shadow: 0px 0px 5px #DC4636;
	color: #FFFFFF;
	cursor: pointer;
}
.input_focus
{
	border-color: #E54B3B;
}
.dim_submit
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
.form_other
{
	font-size: 12px;
	color: #BBB;
	text-align: center;
}
.form_other A, .form_link, .autocomplete_value A
{
	text-decoration: none;
	color: #E54B3B;
}
.form_other A:hover, .form_link:hover, .autocomplete_value A:hover
{
	text-decoration: underline;
}
.hidden_checkbox
{
	display: none;
}
.hidden_file_input
{
	float: right;
	margin-top: -47px;
	max-width: 72px !important;
	-webkit-opacity: 0.0001;
	-moz-opacity: 0.0001;
	filter: alpha(opacity=0.0001);
	opacity: 0.0001;
	max-height: 53px !important;
	overflow: hidden;
	cursor: pointer;
}
.form_value .confirm_password
{
	border-color: #FFC9C3;
}
.checkbox_on
{
	width: 15px;
	height: 15px;
	background: url('checkbox_options.png') no-repeat 0 0;
	float: left;
	margin: 1px 3px 0 0;
	cursor: pointer;
}
.checkbox_off
{
	background: url('checkbox_options.png') no-repeat -16px 0;
}
