/*+clearfix {*/
NAV.top-bar:after, .contain-to-grid:after, .top-bar.expanded:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
NAV.top-bar, .contain-to-grid, .top-bar.expanded
{
	display: inline-block;
}
NAV.top-bar, .contain-to-grid, .top-bar.expanded
{
	/*\*/
	display: block;
	/**/
	-height: 1px;
}
/*+}*/
BODY
{
	background: #EFEFEF url('noise.png') repeat top left;
	font-family: Ubuntu, sans-serif;
	font-size: 16px;
}
/*[clearfix]*/NAV.top-bar, .contain-to-grid
{
	background: #E34A3A -moz-linear-gradient(top, rgba(202,62,48,1) 0%, rgba(223,72,57,1) 11%, rgba(230,76,60,1) 20%, rgba(230,76,60,1) 29%, rgba(226,74,58,1) 36%, rgba(222,72,56,1) 50%, rgba(218,70,54,0.83) 64%, rgba(213,67,53,0.75) 71%, rgba(190,57,43,0.54) 88%, rgba(182,52,40,0.4) 100%);
	/*FF3.6+*/
	background: #E34A3A -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(202,62,48,1)), color-stop(11%,rgba(223,72,57,1)), color-stop(20%,rgba(230,76,60,1)), color-stop(29%,rgba(230,76,60,1)), color-stop(36%,rgba(226,74,58,1)), color-stop(50%,rgba(222,72,56,1)), color-stop(64%,rgba(218,70,54,0.83)), color-stop(71%,rgba(213,67,53,0.75)), color-stop(88%,rgba(190,57,43,0.54)), color-stop(100%,rgba(182,52,40,0.4)));
	/*Chrome,Safari4+*/
	background: #E34A3A -webkit-linear-gradient(top, rgba(202,62,48,1) 0%,rgba(223,72,57,1) 11%,rgba(230,76,60,1) 20%,rgba(230,76,60,1) 29%,rgba(226,74,58,1) 36%,rgba(222,72,56,1) 50%,rgba(218,70,54,0.83) 64%,rgba(213,67,53,0.75) 71%,rgba(190,57,43,0.54) 88%,rgba(182,52,40,0.4) 100%);
	/*Chrome10+,Safari5.1+*/
	background: #E34A3A -o-linear-gradient(top, rgba(202,62,48,1) 0%,rgba(223,72,57,1) 11%,rgba(230,76,60,1) 20%,rgba(230,76,60,1) 29%,rgba(226,74,58,1) 36%,rgba(222,72,56,1) 50%,rgba(218,70,54,0.83) 64%,rgba(213,67,53,0.75) 71%,rgba(190,57,43,0.54) 88%,rgba(182,52,40,0.4) 100%);
	/*Opera 11.10+*/
	background: #E34A3A -ms-linear-gradient(top, rgba(202,62,48,1) 0%,rgba(223,72,57,1) 11%,rgba(230,76,60,1) 20%,rgba(230,76,60,1) 29%,rgba(226,74,58,1) 36%,rgba(222,72,56,1) 50%,rgba(218,70,54,0.83) 64%,rgba(213,67,53,0.75) 71%,rgba(190,57,43,0.54) 88%,rgba(182,52,40,0.4) 100%);
	/*IE10+*/
	background: #E34A3A linear-gradient(to bottom, rgba(202,62,48,1) 0%,rgba(223,72,57,1) 11%,rgba(230,76,60,1) 20%,rgba(230,76,60,1) 29%,rgba(226,74,58,1) 36%,rgba(222,72,56,1) 50%,rgba(218,70,54,0.83) 64%,rgba(213,67,53,0.75) 71%,rgba(190,57,43,0.54) 88%,rgba(182,52,40,0.4) 100%);
	/*W3C*/
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca3e30', endColorstr='#66b63428',GradientType=0 );
	/*IE6-9*/
	border-bottom: 1px solid #A63428;
	height: 65px;
}
.top-bar .name
{
	line-height: 65px;
	padding-right: 30px;
}
.top-bar .toggle-topbar
{
	margin-top: -5px !important;
}
.top-bar .toggle-topbar > A:hover
{
	padding: 0 !important;
	padding-right: 25px !important;
	border: none;
	background: transparent !important;
}
.top-bar .name > A:hover
{
	line-height: 65px;
	padding: initial !important;
	border: none;
	background: transparent !important;
}
/*[clearfix]*/.top-bar.expanded
{
	border: 1px solid #FF0000;
	z-index: 98;
	background: #E34A3A -moz-linear-gradient(top, rgba(202,62,48,1) 0%, rgba(223,72,57,1) 11%, rgba(230,76,60,1) 20%, rgba(230,76,60,1) 29%, rgba(226,74,58,1) 36%, rgba(222,72,56,1) 50%, rgba(218,70,54,0.83) 64%, rgba(213,67,53,0.75) 71%, rgba(190,57,43,0.54) 88%, rgba(182,52,40,0.4) 100%);
	/*FF3.6+*/
	background: #E34A3A -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(202,62,48,1)), color-stop(11%,rgba(223,72,57,1)), color-stop(20%,rgba(230,76,60,1)), color-stop(29%,rgba(230,76,60,1)), color-stop(36%,rgba(226,74,58,1)), color-stop(50%,rgba(222,72,56,1)), color-stop(64%,rgba(218,70,54,0.83)), color-stop(71%,rgba(213,67,53,0.75)), color-stop(88%,rgba(190,57,43,0.54)), color-stop(100%,rgba(182,52,40,0.4)));
	/*Chrome,Safari4+*/
	background: #E34A3A -webkit-linear-gradient(top, rgba(202,62,48,1) 0%,rgba(223,72,57,1) 11%,rgba(230,76,60,1) 20%,rgba(230,76,60,1) 29%,rgba(226,74,58,1) 36%,rgba(222,72,56,1) 50%,rgba(218,70,54,0.83) 64%,rgba(213,67,53,0.75) 71%,rgba(190,57,43,0.54) 88%,rgba(182,52,40,0.4) 100%);
	/*Chrome10+,Safari5.1+*/
	background: #E34A3A -o-linear-gradient(top, rgba(202,62,48,1) 0%,rgba(223,72,57,1) 11%,rgba(230,76,60,1) 20%,rgba(230,76,60,1) 29%,rgba(226,74,58,1) 36%,rgba(222,72,56,1) 50%,rgba(218,70,54,0.83) 64%,rgba(213,67,53,0.75) 71%,rgba(190,57,43,0.54) 88%,rgba(182,52,40,0.4) 100%);
	/*Opera 11.10+*/
	background: #E34A3A -ms-linear-gradient(top, rgba(202,62,48,1) 0%,rgba(223,72,57,1) 11%,rgba(230,76,60,1) 20%,rgba(230,76,60,1) 29%,rgba(226,74,58,1) 36%,rgba(222,72,56,1) 50%,rgba(218,70,54,0.83) 64%,rgba(213,67,53,0.75) 71%,rgba(190,57,43,0.54) 88%,rgba(182,52,40,0.4) 100%);
	/*IE10+*/
	background: #E34A3A linear-gradient(to bottom, rgba(202,62,48,1) 0%,rgba(223,72,57,1) 11%,rgba(230,76,60,1) 20%,rgba(230,76,60,1) 29%,rgba(226,74,58,1) 36%,rgba(222,72,56,1) 50%,rgba(218,70,54,0.83) 64%,rgba(213,67,53,0.75) 71%,rgba(190,57,43,0.54) 88%,rgba(182,52,40,0.4) 100%);
	/*W3C*/
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca3e30', endColorstr='#66b63428',GradientType=0 );
	/*IE6-9*/
	border-bottom: 1px solid #A63428;
}
.top-bar.expanded .toggle-topbar A
{
	color: #FFFFFF;
	text-decoration: underline;
}
.top-bar.expanded .title-area
{
	background: transparent !important;
	height: 65px;
}
.top-bar-section SPAN
{
	display: inline-block;
}
.top-bar-section I.fa
{
	font-size: 21px;
	color: #F8D2CD;
	line-height: inherit;
	padding-bottom: 0 !important;
	/*[empty]height:;*/
}
.top-bar-section UL > LI.social > A:hover
{
	height: 65px;
	border: none !important;
	background: none !important;
	padding: 0 16px !important;
}
.top-bar-section UL > LI.social > A:hover I
{
	color: #FFFFFF;
}
NAV.top-bar LI > A:hover
{
	border-left: 1px solid #A63428;
	text-decoration: none;
	padding: 0 15px !important;
	border-right: 1px solid #A63428;
	background: #E34A3A -moz-linear-gradient(top, rgba(182,52,40,0.4) 0%, rgba(190,57,43,0.4) 12%, rgba(218,70,54,0.4) 36%, rgba(227,74,58,0.4) 48%, rgba(202,62,48,0.4) 50%, rgba(213,67,53,0.46) 55%, rgba(226,74,58,0.57) 64%, rgba(230,76,60,0.65) 71%, rgba(230,76,60,0.76) 80%, rgba(223,72,57,0.87) 89%, rgba(202,62,48,1) 100%);
	/*FF3.6+*/
	background: #E34A3A -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(182,52,40,0.4)), color-stop(12%,rgba(190,57,43,0.4)), color-stop(36%,rgba(218,70,54,0.4)), color-stop(48%,rgba(227,74,58,0.4)), color-stop(50%,rgba(202,62,48,0.4)), color-stop(55%,rgba(213,67,53,0.46)), color-stop(64%,rgba(226,74,58,0.57)), color-stop(71%,rgba(230,76,60,0.65)), color-stop(80%,rgba(230,76,60,0.76)), color-stop(89%,rgba(223,72,57,0.87)), color-stop(100%,rgba(202,62,48,1)));
	/*Chrome,Safari4+*/
	background: #E34A3A -webkit-linear-gradient(top, rgba(182,52,40,0.4) 0%,rgba(190,57,43,0.4) 12%,rgba(218,70,54,0.4) 36%,rgba(227,74,58,0.4) 48%,rgba(202,62,48,0.4) 50%,rgba(213,67,53,0.46) 55%,rgba(226,74,58,0.57) 64%,rgba(230,76,60,0.65) 71%,rgba(230,76,60,0.76) 80%,rgba(223,72,57,0.87) 89%,rgba(202,62,48,1) 100%);
	/*Chrome10+,Safari5.1+*/
	background: #E34A3A -o-linear-gradient(top, rgba(182,52,40,0.4) 0%,rgba(190,57,43,0.4) 12%,rgba(218,70,54,0.4) 36%,rgba(227,74,58,0.4) 48%,rgba(202,62,48,0.4) 50%,rgba(213,67,53,0.46) 55%,rgba(226,74,58,0.57) 64%,rgba(230,76,60,0.65) 71%,rgba(230,76,60,0.76) 80%,rgba(223,72,57,0.87) 89%,rgba(202,62,48,1) 100%);
	/*Opera 11.10+*/
	background: #E34A3A -ms-linear-gradient(top, rgba(182,52,40,0.4) 0%,rgba(190,57,43,0.4) 12%,rgba(218,70,54,0.4) 36%,rgba(227,74,58,0.4) 48%,rgba(202,62,48,0.4) 50%,rgba(213,67,53,0.46) 55%,rgba(226,74,58,0.57) 64%,rgba(230,76,60,0.65) 71%,rgba(230,76,60,0.76) 80%,rgba(223,72,57,0.87) 89%,rgba(202,62,48,1) 100%);
	/*IE10+*/
	background: #E34A3A linear-gradient(to bottom, rgba(182,52,40,0.4) 0%,rgba(190,57,43,0.4) 12%,rgba(218,70,54,0.4) 36%,rgba(227,74,58,0.4) 48%,rgba(202,62,48,0.4) 50%,rgba(213,67,53,0.46) 55%,rgba(226,74,58,0.57) 64%,rgba(230,76,60,0.65) 71%,rgba(230,76,60,0.76) 80%,rgba(223,72,57,0.87) 89%,rgba(202,62,48,1) 100%);
	/*W3C*/
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b63428', endColorstr='#ca3e30',GradientType=0 );
	/*IE6-9*/
}
.top-bar-section LI > A
{
	padding: 0 16px !important;
	font-weight: bold !important;
	font-size: 14px !important;
}
.top-bar-section UL > LI > A, .top-bar-section LI:not(.has-form) A:not(.button), .top-bar-section UL
{
	background: transparent;
	line-height: 65px;
}
.top-bar-section LI > A.register, .top-bar-section LI > A.login
{
	border-right: 1px solid #A63428;
}
.top-bar-section LI:not(.has-form) A:not(.button):hover
{
	border-left: 1px solid #A63428;
	border-right: 1px solid #A63428;
	background: #E34A3A -moz-linear-gradient(top, rgba(182,52,40,0.4) 0%, rgba(190,57,43,0.4) 12%, rgba(218,70,54,0.4) 36%, rgba(227,74,58,0.4) 48%, rgba(202,62,48,0.4) 50%, rgba(213,67,53,0.46) 55%, rgba(226,74,58,0.57) 64%, rgba(230,76,60,0.65) 71%, rgba(230,76,60,0.76) 80%, rgba(223,72,57,0.87) 89%, rgba(202,62,48,1) 100%);
	/*FF3.6+*/
	background: #E34A3A -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(182,52,40,0.4)), color-stop(12%,rgba(190,57,43,0.4)), color-stop(36%,rgba(218,70,54,0.4)), color-stop(48%,rgba(227,74,58,0.4)), color-stop(50%,rgba(202,62,48,0.4)), color-stop(55%,rgba(213,67,53,0.46)), color-stop(64%,rgba(226,74,58,0.57)), color-stop(71%,rgba(230,76,60,0.65)), color-stop(80%,rgba(230,76,60,0.76)), color-stop(89%,rgba(223,72,57,0.87)), color-stop(100%,rgba(202,62,48,1)));
	/*Chrome,Safari4+*/
	background: #E34A3A -webkit-linear-gradient(top, rgba(182,52,40,0.4) 0%,rgba(190,57,43,0.4) 12%,rgba(218,70,54,0.4) 36%,rgba(227,74,58,0.4) 48%,rgba(202,62,48,0.4) 50%,rgba(213,67,53,0.46) 55%,rgba(226,74,58,0.57) 64%,rgba(230,76,60,0.65) 71%,rgba(230,76,60,0.76) 80%,rgba(223,72,57,0.87) 89%,rgba(202,62,48,1) 100%);
	/*Chrome10+,Safari5.1+*/
	background: #E34A3A -o-linear-gradient(top, rgba(182,52,40,0.4) 0%,rgba(190,57,43,0.4) 12%,rgba(218,70,54,0.4) 36%,rgba(227,74,58,0.4) 48%,rgba(202,62,48,0.4) 50%,rgba(213,67,53,0.46) 55%,rgba(226,74,58,0.57) 64%,rgba(230,76,60,0.65) 71%,rgba(230,76,60,0.76) 80%,rgba(223,72,57,0.87) 89%,rgba(202,62,48,1) 100%);
	/*Opera 11.10+*/
	background: #E34A3A -ms-linear-gradient(top, rgba(182,52,40,0.4) 0%,rgba(190,57,43,0.4) 12%,rgba(218,70,54,0.4) 36%,rgba(227,74,58,0.4) 48%,rgba(202,62,48,0.4) 50%,rgba(213,67,53,0.46) 55%,rgba(226,74,58,0.57) 64%,rgba(230,76,60,0.65) 71%,rgba(230,76,60,0.76) 80%,rgba(223,72,57,0.87) 89%,rgba(202,62,48,1) 100%);
	/*IE10+*/
	background: #E34A3A linear-gradient(to bottom, rgba(182,52,40,0.4) 0%,rgba(190,57,43,0.4) 12%,rgba(218,70,54,0.4) 36%,rgba(227,74,58,0.4) 48%,rgba(202,62,48,0.4) 50%,rgba(213,67,53,0.46) 55%,rgba(226,74,58,0.57) 64%,rgba(230,76,60,0.65) 71%,rgba(230,76,60,0.76) 80%,rgba(223,72,57,0.87) 89%,rgba(202,62,48,1) 100%);
	/*W3C*/
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b63428', endColorstr='#ca3e30',GradientType=0 );
	/*IE6-9*/
}
.reveal-modal
{
	/*+border-radius:5px;*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	border: 3px solid #DFDFDF;
}
.large-centered
{
	float: none !important;
}
#settingsDrop::before, #settingsDrop::after
{
	display: none;
}
#settingsDrop
{
	background-color: #435466;
	border: 0;
	/*+border-radius:5px;*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding: 10px 0 5px;
}
#settingsDrop .drop_down_college
{
	font-size: 12px;
	color: #EFEFEF;
	padding-top: 3px;
}
.hide
{
	display: none;
}
.noscript_text
{
	text-align: center;
}
.opacity_75
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
}
.border_radius_3
{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.border_radius_5
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.other_submit.taccd
{
}
.border_radius_5_bottom
{
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
.border_radius_5_top
{
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
.border_radius_15
{
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.loading
{
	background: url('loader.gif') no-repeat center;
	height: 40px;
}
.expandable
{
	-webkit-transition: height 0.2s;
	-moz-transition: height 0.2s;
	transition: height 0.2s;
	min-height: 40px !important;
	height: 40px;
}
#navigation_wrap
{
	background: #E34A3A -moz-linear-gradient(top, rgba(202,62,48,1) 0%, rgba(223,72,57,1) 11%, rgba(230,76,60,1) 20%, rgba(230,76,60,1) 29%, rgba(226,74,58,1) 36%, rgba(222,72,56,1) 50%, rgba(218,70,54,0.83) 64%, rgba(213,67,53,0.75) 71%, rgba(190,57,43,0.54) 88%, rgba(182,52,40,0.4) 100%);
	/*FF3.6+*/
	background: #E34A3A -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(202,62,48,1)), color-stop(11%,rgba(223,72,57,1)), color-stop(20%,rgba(230,76,60,1)), color-stop(29%,rgba(230,76,60,1)), color-stop(36%,rgba(226,74,58,1)), color-stop(50%,rgba(222,72,56,1)), color-stop(64%,rgba(218,70,54,0.83)), color-stop(71%,rgba(213,67,53,0.75)), color-stop(88%,rgba(190,57,43,0.54)), color-stop(100%,rgba(182,52,40,0.4)));
	/*Chrome,Safari4+*/
	background: #E34A3A -webkit-linear-gradient(top, rgba(202,62,48,1) 0%,rgba(223,72,57,1) 11%,rgba(230,76,60,1) 20%,rgba(230,76,60,1) 29%,rgba(226,74,58,1) 36%,rgba(222,72,56,1) 50%,rgba(218,70,54,0.83) 64%,rgba(213,67,53,0.75) 71%,rgba(190,57,43,0.54) 88%,rgba(182,52,40,0.4) 100%);
	/*Chrome10+,Safari5.1+*/
	background: #E34A3A -o-linear-gradient(top, rgba(202,62,48,1) 0%,rgba(223,72,57,1) 11%,rgba(230,76,60,1) 20%,rgba(230,76,60,1) 29%,rgba(226,74,58,1) 36%,rgba(222,72,56,1) 50%,rgba(218,70,54,0.83) 64%,rgba(213,67,53,0.75) 71%,rgba(190,57,43,0.54) 88%,rgba(182,52,40,0.4) 100%);
	/*Opera 11.10+*/
	background: #E34A3A -ms-linear-gradient(top, rgba(202,62,48,1) 0%,rgba(223,72,57,1) 11%,rgba(230,76,60,1) 20%,rgba(230,76,60,1) 29%,rgba(226,74,58,1) 36%,rgba(222,72,56,1) 50%,rgba(218,70,54,0.83) 64%,rgba(213,67,53,0.75) 71%,rgba(190,57,43,0.54) 88%,rgba(182,52,40,0.4) 100%);
	/*IE10+*/
	background: #E34A3A linear-gradient(to bottom, rgba(202,62,48,1) 0%,rgba(223,72,57,1) 11%,rgba(230,76,60,1) 20%,rgba(230,76,60,1) 29%,rgba(226,74,58,1) 36%,rgba(222,72,56,1) 50%,rgba(218,70,54,0.83) 64%,rgba(213,67,53,0.75) 71%,rgba(190,57,43,0.54) 88%,rgba(182,52,40,0.4) 100%);
	/*W3C*/
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca3e30', endColorstr='#66b63428',GradientType=0 );
	/*IE6-9*/
	border-bottom: 1px solid #A63428;
}
#navigation
{
	padding: 0 10px;
}
#taccd_logo IMG
{
	padding-top: 15px;
	float: left;
}
.nav_icon
{
	height: 65px;
	padding: 22px 21px 0;
	float: left;
}
.nav_icon:hover
{
	border-left: 1px solid #A63428;
	margin-left: -1px;
	border-right: 1px solid #A63428;
	margin-right: -1px;
	background: #E34A3A -moz-linear-gradient(top, rgba(182,52,40,0.4) 0%, rgba(190,57,43,0.4) 12%, rgba(218,70,54,0.4) 36%, rgba(227,74,58,0.4) 48%, rgba(202,62,48,0.4) 50%, rgba(213,67,53,0.46) 55%, rgba(226,74,58,0.57) 64%, rgba(230,76,60,0.65) 71%, rgba(230,76,60,0.76) 80%, rgba(223,72,57,0.87) 89%, rgba(202,62,48,1) 100%);
	/*FF3.6+*/
	background: #E34A3A -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(182,52,40,0.4)), color-stop(12%,rgba(190,57,43,0.4)), color-stop(36%,rgba(218,70,54,0.4)), color-stop(48%,rgba(227,74,58,0.4)), color-stop(50%,rgba(202,62,48,0.4)), color-stop(55%,rgba(213,67,53,0.46)), color-stop(64%,rgba(226,74,58,0.57)), color-stop(71%,rgba(230,76,60,0.65)), color-stop(80%,rgba(230,76,60,0.76)), color-stop(89%,rgba(223,72,57,0.87)), color-stop(100%,rgba(202,62,48,1)));
	/*Chrome,Safari4+*/
	background: #E34A3A -webkit-linear-gradient(top, rgba(182,52,40,0.4) 0%,rgba(190,57,43,0.4) 12%,rgba(218,70,54,0.4) 36%,rgba(227,74,58,0.4) 48%,rgba(202,62,48,0.4) 50%,rgba(213,67,53,0.46) 55%,rgba(226,74,58,0.57) 64%,rgba(230,76,60,0.65) 71%,rgba(230,76,60,0.76) 80%,rgba(223,72,57,0.87) 89%,rgba(202,62,48,1) 100%);
	/*Chrome10+,Safari5.1+*/
	background: #E34A3A -o-linear-gradient(top, rgba(182,52,40,0.4) 0%,rgba(190,57,43,0.4) 12%,rgba(218,70,54,0.4) 36%,rgba(227,74,58,0.4) 48%,rgba(202,62,48,0.4) 50%,rgba(213,67,53,0.46) 55%,rgba(226,74,58,0.57) 64%,rgba(230,76,60,0.65) 71%,rgba(230,76,60,0.76) 80%,rgba(223,72,57,0.87) 89%,rgba(202,62,48,1) 100%);
	/*Opera 11.10+*/
	background: #E34A3A -ms-linear-gradient(top, rgba(182,52,40,0.4) 0%,rgba(190,57,43,0.4) 12%,rgba(218,70,54,0.4) 36%,rgba(227,74,58,0.4) 48%,rgba(202,62,48,0.4) 50%,rgba(213,67,53,0.46) 55%,rgba(226,74,58,0.57) 64%,rgba(230,76,60,0.65) 71%,rgba(230,76,60,0.76) 80%,rgba(223,72,57,0.87) 89%,rgba(202,62,48,1) 100%);
	/*IE10+*/
	background: #E34A3A linear-gradient(to bottom, rgba(182,52,40,0.4) 0%,rgba(190,57,43,0.4) 12%,rgba(218,70,54,0.4) 36%,rgba(227,74,58,0.4) 48%,rgba(202,62,48,0.4) 50%,rgba(213,67,53,0.46) 55%,rgba(226,74,58,0.57) 64%,rgba(230,76,60,0.65) 71%,rgba(230,76,60,0.76) 80%,rgba(223,72,57,0.87) 89%,rgba(202,62,48,1) 100%);
	/*W3C*/
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b63428', endColorstr='#ca3e30',GradientType=0 );
	/*IE6-9*/
}
#home_icon
{
	width: 20px;
	height: 22px;
	background: url('layout_sprite.png') no-repeat 0 -48px;
}
#map_icon
{
	width: 20px;
	height: 22px;
	background: url('layout_sprite.png') no-repeat 0 -24px;
}
#chat_icon
{
	width: 20px;
	height: 22px;
	background: url('layout_sprite.png') no-repeat 0 0;
}
.social_icon
{
	float: left;
	margin-left: 4px;
}
.social_icon:hover
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
.twitter_icon
{
	background: url('layout_sprite.png') no-repeat 0 -72px;
	height: 18px;
	width: 24px;
	margin-top: 25px;
}
.facebook_icon
{
	background: url('layout_sprite.png') no-repeat 0 -93px;
	height: 20px;
	width: 10px;
	margin-left: 6px;
	margin-top: 24px;
}
#social_icons
{
	float: right;
	height: 65px;
	margin-left: 10px;
}
#login_register
{
	float: right;
	height: 65px;
}
.action_link
{
	height: 65px;
	padding: 24px 20px 0px;
	float: left;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
	font-size: 14px;
	border-right: 1px solid #A63428;
}
.action_link:nth-child(1)
{
	border-left: 1px solid #A63428;
}
.action_link:hover
{
	/*[disabled]border-left:1px solid #A63428;*/
	background: #E34A3A -moz-linear-gradient(top, rgba(182,52,40,0.4) 0%, rgba(190,57,43,0.4) 12%, rgba(218,70,54,0.4) 36%, rgba(227,74,58,0.4) 48%, rgba(202,62,48,0.4) 50%, rgba(213,67,53,0.46) 55%, rgba(226,74,58,0.57) 64%, rgba(230,76,60,0.65) 71%, rgba(230,76,60,0.76) 80%, rgba(223,72,57,0.87) 89%, rgba(202,62,48,1) 100%);
	/*FF3.6+*/
	background: #E34A3A -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(182,52,40,0.4)), color-stop(12%,rgba(190,57,43,0.4)), color-stop(36%,rgba(218,70,54,0.4)), color-stop(48%,rgba(227,74,58,0.4)), color-stop(50%,rgba(202,62,48,0.4)), color-stop(55%,rgba(213,67,53,0.46)), color-stop(64%,rgba(226,74,58,0.57)), color-stop(71%,rgba(230,76,60,0.65)), color-stop(80%,rgba(230,76,60,0.76)), color-stop(89%,rgba(223,72,57,0.87)), color-stop(100%,rgba(202,62,48,1)));
	/*Chrome,Safari4+*/
	background: #E34A3A -webkit-linear-gradient(top, rgba(182,52,40,0.4) 0%,rgba(190,57,43,0.4) 12%,rgba(218,70,54,0.4) 36%,rgba(227,74,58,0.4) 48%,rgba(202,62,48,0.4) 50%,rgba(213,67,53,0.46) 55%,rgba(226,74,58,0.57) 64%,rgba(230,76,60,0.65) 71%,rgba(230,76,60,0.76) 80%,rgba(223,72,57,0.87) 89%,rgba(202,62,48,1) 100%);
	/*Chrome10+,Safari5.1+*/
	background: #E34A3A -o-linear-gradient(top, rgba(182,52,40,0.4) 0%,rgba(190,57,43,0.4) 12%,rgba(218,70,54,0.4) 36%,rgba(227,74,58,0.4) 48%,rgba(202,62,48,0.4) 50%,rgba(213,67,53,0.46) 55%,rgba(226,74,58,0.57) 64%,rgba(230,76,60,0.65) 71%,rgba(230,76,60,0.76) 80%,rgba(223,72,57,0.87) 89%,rgba(202,62,48,1) 100%);
	/*Opera 11.10+*/
	background: #E34A3A -ms-linear-gradient(top, rgba(182,52,40,0.4) 0%,rgba(190,57,43,0.4) 12%,rgba(218,70,54,0.4) 36%,rgba(227,74,58,0.4) 48%,rgba(202,62,48,0.4) 50%,rgba(213,67,53,0.46) 55%,rgba(226,74,58,0.57) 64%,rgba(230,76,60,0.65) 71%,rgba(230,76,60,0.76) 80%,rgba(223,72,57,0.87) 89%,rgba(202,62,48,1) 100%);
	/*IE10+*/
	background: #E34A3A linear-gradient(to bottom, rgba(182,52,40,0.4) 0%,rgba(190,57,43,0.4) 12%,rgba(218,70,54,0.4) 36%,rgba(227,74,58,0.4) 48%,rgba(202,62,48,0.4) 50%,rgba(213,67,53,0.46) 55%,rgba(226,74,58,0.57) 64%,rgba(230,76,60,0.65) 71%,rgba(230,76,60,0.76) 80%,rgba(223,72,57,0.87) 89%,rgba(202,62,48,1) 100%);
	/*W3C*/
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b63428', endColorstr='#ca3e30',GradientType=0 );
	/*IE6-9*/
	color: #FFFFFF;
}
#login_register .end_link
{
	margin-right: 10px;
}
#login_register .end_link:hover
{
	margin-left: -1px;
}
