#userbar_wrap
{
	border-bottom: 1px solid #212931;
	background: rgb(50, 60, 70);
	/*Old browsers*/
	background: -moz-linear-gradient(top, rgba(50,60,70,1) 0%, rgba(50,60,70,1) 100%);
	/*FF3.6+*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(50,60,70,1)), color-stop(100%,rgba(50,60,70,1)));
	/*Chrome,Safari4+*/
	background: -webkit-linear-gradient(top, rgba(50,60,70,1) 0%,rgba(50,60,70,1) 100%);
	/*Chrome10+,Safari5.1+*/
	background: -o-linear-gradient(top, rgba(50,60,70,1) 0%,rgba(50,60,70,1) 100%);
	/*Opera 11.10+*/
	background: -ms-linear-gradient(top, rgba(50,60,70,1) 0%,rgba(50,60,70,1) 100%);
	/*IE10+*/
	background: linear-gradient(to bottom, rgba(50,60,70,1) 0%,rgba(50,60,70,1) 100%);
	/*W3C*/
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323c46', endColorstr='#323c46',GradientType=0 );
	/*IE6-9*/
}
#userbar .name A
{
	color: #FFFFFF;
}
#userbar
{
	margin: auto;
	padding: 28px 10px 18px;
}
#userbar #userstats
{
	margin-top: 2px;
}
#userbar_content
{
	height: 100px;
	width: 100%;
	padding-top: 9px;
}
#userbar_content TD
{
	vertical-align: middle;
}
#userdata
{
	padding-top: 18px;
	float: left;
	max-width: 300px !important;
	min-width: 300px !important;
}
#user_avatar
{
	display: block;
	border: 4px solid #28323D;
	width: 70px;
	height: 70px;
	overflow: hidden;
	margin-top: -7px;
}
#user_avatar:hover
{
	border: 4px solid #435466;
}
#avatar_cell
{
	width: 73px;
}
#user_text_cell
{
	word-wrap: break-word;
	margin-top: 9px;
	color: #FFFFFF;
}
#userbar .pull-right
{
	margin-top: 15px;
}
#user_text_cell .college
{
	display: block;
	font-size: 13px;
	margin-top: 5px;
}
.user_text_top
{
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
}
.user_text_bottom
{
	color: #CCC;
	text-decoration: none;
	font-size: 12px;
}
A.user_text_top:hover
{
	color: #F35444;
	text-decoration: none;
}
A.user_text_bottom:hover
{
	color: #FFF;
	text-decoration: none;
}
.user_notify
{
	=background: url('user_notify.png') no-repeat center;
	background: #E64C3C;
	float: left;
	text-align: center;
	margin: -12px 0 0 5px;
	font-size: 12px;
	padding: 3px 4px 5px;
	min-width: 16px !important;
	display: none;
}
.user_notify:hover
{
	background: #F35444;
	cursor: pointer;
}
#userstats DIV
{
	float: left;
    display: inline-block;
    margin-left: 20px;
}
.user_stat
{
	text-align: center;
	padding: 8px 0;
}
.stat_bordered
{
	background: url('user_stats_divider.png') repeat-y right center;
	padding: 8px 25px 8px 0;
	margin-right: 25px;
}
#user_settings_cell
{
	width: 96px;
}
#settings_icon
{
	background: url('layout_sprite.png') no-repeat 0 -116px;
	height: 22px;
	width: 37px;
	display: inline-block;
}
#more_settings_icon
{
	background: url('layout_sprite.png') no-repeat 0 -137px;
	height: 8px;
	width: 22px;
	display: inline-block;
	margin-top: 7px;
}
#user_settings
{
	padding: 9px 8px 7px;
	background: #435466;
	height: 28px;
}
#user_settings:hover
{
	background: #212931;
	cursor: pointer;
}
#user_settings I.fa-caret-down
{
	margin: -2px 0 0 2px;
	display: inline-table;
}
#user_settings I.fa-cogs
{
	color: #FFFFFF;
	font-size: 22px;
}
#user_settings_more
{
	float: right;
	background: #435466;
	padding: 5px 8px 6px;
	color: #FFFFFF;
	font-size: 22px;
	margin-top: -5px;
	margin-left: 5px;
	cursor: pointer;
}
#user_settings_more:hover
{
	background: #212931;
	margin-top: -5px;
	padding: 5px 8px 6px;
}
.user_settings_clicked
{
	background: #435466;
}
#settings_drop_down
{
	min-width: 175px;
	background: #435466;
	position: absolute;
	margin: 40px 0 0;
	border: 1px solid #212931;
	display: none;
	z-index: 1;
}
.drop_down_name
{
	margin: 10px 13px 0;
	color: #FFF;
	font-weight: bold;
}
.drop_down_college
{
	margin: 0 13px 13px;
	line-height: 12px;
}
.drop_down_link A
{
	display: block;
	padding: 10px 13px;
	border-top: 1px solid #212931;
	text-decoration: none;
	color: #CCC;
	font-size: 13px;
	font-weight: bold;
}
.drop_down_link A:hover
{
	color: #FFF;
	background: -moz-linear-gradient(top, rgba(116,140,166,0.4) 0%, rgba(103,125,149,0.4) 25%, rgba(65,82,99,0.4) 73%, rgba(54,68,84,0.4) 91%, rgba(50,64,79,0.4) 100%);
	/*FF3.6+*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(116,140,166,0.4)), color-stop(25%,rgba(103,125,149,0.4)), color-stop(73%,rgba(65,82,99,0.4)), color-stop(91%,rgba(54,68,84,0.4)), color-stop(100%,rgba(50,64,79,0.4)));
	/*Chrome,Safari4+*/
	background: -webkit-linear-gradient(top, rgba(116,140,166,0.4) 0%,rgba(103,125,149,0.4) 25%,rgba(65,82,99,0.4) 73%,rgba(54,68,84,0.4) 91%,rgba(50,64,79,0.4) 100%);
	/*Chrome10+,Safari5.1+*/
	background: -o-linear-gradient(top, rgba(116,140,166,0.4) 0%,rgba(103,125,149,0.4) 25%,rgba(65,82,99,0.4) 73%,rgba(54,68,84,0.4) 91%,rgba(50,64,79,0.4) 100%);
	/*Opera 11.10+*/
	background: -ms-linear-gradient(top, rgba(116,140,166,0.4) 0%,rgba(103,125,149,0.4) 25%,rgba(65,82,99,0.4) 73%,rgba(54,68,84,0.4) 91%,rgba(50,64,79,0.4) 100%);
	/*IE10+*/
	background: linear-gradient(to bottom, rgba(116,140,166,0.4) 0%,rgba(103,125,149,0.4) 25%,rgba(65,82,99,0.4) 73%,rgba(54,68,84,0.4) 91%,rgba(50,64,79,0.4) 100%);
	/*W3C*/
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66748ca6', endColorstr='#6632404f',GradientType=0 );
	/*IE6-9*/
}
