.account-page .row
{
	margin-bottom: 3%;
}
.dashboard-page .panel.callout
{
	/*+border-radius:0;*/
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-khtml-border-radius: 0;
	border-radius: 0 0 0 0;
	margin-bottom: 5px;
}
.account-page .content.content_element
{
	width: 48.9%;
}
#stats
{
	text-align: center;
}
#stats .fa
{
	color: #2C343D;
	font-size: 35px;
	margin-bottom: 5px;
	margin-top: 10px;
}
#stats .stat_value
{
	font-size: 22px;
	color: #E34F37;
	font-weight: bold;
}
#stats .stat_label
{
	margin-bottom: 10px;
	font-size: 16px;
	padding-top: 5px;
}
.college-page .top_confession_element .college_confession_other
{
	padding-top: 10px;
	padding-left: 0;
}
.college_confession_element .college_confession_other
{
	margin-top: 10px;
}
.account-page .alert-box
{
	padding-left: 16%;
}
.account-page .twitter-typeahead
{
	width: 100%;
}
.twitter-typeahead .tt-dropdown-menu
{
	/*+border-radius:5px;*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	width: 100%;
	background: url('user_bar.png') repeat-x top left;
	border: 1px solid #212931;
	border: 1px solid #808080;
	color: #CCC;
}
.tt-dropdown-menu .tt-suggestion
{
	height: 41px;
	padding-top: 9px;
	padding-bottom: 0px;
	border: 1px solid #212931;
	padding-left: 5px;
	background: #435466;
}
.tt-dropdown-menu DIV.tt-suggestion:hover, .tt-dropdown-menu .tt-suggestion.tt-cursor
{
	color: #FFF;
	background-color: #435466;
	background: #435466 -moz-linear-gradient(top, rgba(116,140,166,0.4) 0%, rgba(103,125,149,0.4) 25%, rgba(65,82,99,0.4) 73%, rgba(54,68,84,0.4) 91%, rgba(50,64,79,0.4) 100%);
	/*FF3.6+*/
	background: #435466 -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(116,140,166,0.4)), color-stop(25%,rgba(103,125,149,0.4)), color-stop(73%,rgba(65,82,99,0.4)), color-stop(91%,rgba(54,68,84,0.4)), color-stop(100%,rgba(50,64,79,0.4)));
	/*Chrome,Safari4+*/
	background: #435466 -webkit-linear-gradient(top, rgba(116,140,166,0.4) 0%,rgba(103,125,149,0.4) 25%,rgba(65,82,99,0.4) 73%,rgba(54,68,84,0.4) 91%,rgba(50,64,79,0.4) 100%);
	/*Chrome10+,Safari5.1+*/
	background: #435466 -o-linear-gradient(top, rgba(116,140,166,0.4) 0%,rgba(103,125,149,0.4) 25%,rgba(65,82,99,0.4) 73%,rgba(54,68,84,0.4) 91%,rgba(50,64,79,0.4) 100%);
	/*Opera 11.10+*/
	background: #435466 -ms-linear-gradient(top, rgba(116,140,166,0.4) 0%,rgba(103,125,149,0.4) 25%,rgba(65,82,99,0.4) 73%,rgba(54,68,84,0.4) 91%,rgba(50,64,79,0.4) 100%);
	/*IE10+*/
	background: #435466 linear-gradient(to bottom, rgba(116,140,166,0.4) 0%,rgba(103,125,149,0.4) 25%,rgba(65,82,99,0.4) 73%,rgba(54,68,84,0.4) 91%,rgba(50,64,79,0.4) 100%);
	/*W3C*/
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66748ca6', endColorstr='#6632404f',GradientType=0 );
	/*IE6-9*/
}
.tt-dropdown-menu .tt-suggestion.tt-cursor
{
}
