@media only screen and (max-width: 40em) {
    .college-page .top_confession_element DIV.large-3 {
        margin-right: auto !important;
    }
}

/*+clearfix {*/
.dashboard-page #content_wrap:after, .college-page .college_icons:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
.dashboard-page #content_wrap, .college-page .college_icons
{
	display: inline-block;
}
.dashboard-page #content_wrap, .college-page .college_icons
{
	/*\*/
	display: block;
	/**/
	-height: 1px;
}
/*+}*/
.college-page #college_sub_text
{
	color: #DFE9F5;
	font-size: 30px;
	font-weight: bold;
}
.college-page .college_stat
{
	padding: 5px 20px;
	margin-top: 10px;
	font-size: 25px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
}
.college-page .college_stat:last-child
{
	padding-left: 0;
	border-left: 1px solid #000000;
}
.college-page .college_stat:first-child
{
	padding-right: 0;
	border-right: 1px solid #000000;
}
.college-page .college_stat_name
{
	color: #EAECEB;
}
.college-page .college_stat_splitter
{
	border-left: 1px solid #000;
	border-right: 1px solid #666;
	margin: 0 5px;
}
.college-page .college_confession_element
{
	margin: 20px 5px 10px;
}
/*[clearfix]*/.dashboard-page #content_wrap
{
	margin-bottom: 20px;
}
.college-page .comment_element .college_author
{
	margin-left: -15px;
}
.college-page .comment_element .college_author_avatar
{
	margin-top: 7px;
}
.college-page .content_text
{
	background-color: transparent;
}
.college-page .content_element
{
	background-color: #FFFFFF;
}
.college-page .content_element.row.large-12.columns
{
	width: 100%;
}
.college-page .top_confession_element DIV.large-3
{
	margin-right: -25px;
}
.college-page .college_avatar IMG
{
	display: block;
	=border: 4 px solid #DFDFDF;
	width: 70px;
	height: 70px;
	/*+border-radius:5px;*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	/*[disabled]overflow:hidden;*/
}
.college-page .college_avatar
{
	width: 120%;
}
/*[clearfix]*/.college-page .college_icons
{
	width: 125%;
}
.college-page .college_image_icons
{
	color: #D5D5D5;
	font-size: 15px;
}
.college-page .college_tacc_confession
{
	float: left;
	margin: 4px 5px 0;
}
.college-page .college_expand_confession
{
	float: left;
	margin: 4px 3px 0;
}
.college-page .college_goto_comments
{
	float: left;
	margin: 4px 5px 0;
}
.college-page .college_tacc_confession:hover, .college-page .college_expand_confession:hover, .college-page .college_goto_comments:hover, .college-page .active
{
	cursor: pointer;
	color: #E54B3B;
}
.college-page .college_author A
{
	color: #000000;
	text-decoration: none;
}
.college-page .college_author A:hover
{
	text-decoration: underline;
}
.college-page .college_author_grey
{
	color: #BBB;
}
.college-page .college_confession
{
	font-size: 13px;
	margin: 3px 0;
	padding: 5px 0 0;
	overflow-wrap: break-word;
}
.college-page .college_avatar:hover
{
	opacity: 0.8;
}
.college-page .college_confession_other
{
	color: #BBB;
	font-size: 12px;
}
.college-page .confession_bullet
{
	margin: 0 5px;
	font-weight: bold;
}
.college-page .confession_toggle_comments
{
	cursor: pointer;
}
.college-page .confession_toggle_comments, .college-page .confession_red_text
{
	color: #E54B3B;
}
.college-page .confession_toggle_comments:hover
{
	text-decoration: underline;
}
.college-page .confession_comments
{
	display: none;
}
.college-page .confession_user_likes
{
	margin-top: 10px;
}
.college-page .like_avatar
{
	width: 30px;
	height: 30px;
	margin: 0 5px;
}
.college-page .load_more_text
{
	color: #BBBBBB;
	font-size: 13px;
	cursor: pointer;
	height: 40px;
	width: 150px;
	padding-bottom: 1px;
	text-align: center;
}
.college-page .load_more_text_hover
{
	color: #E54B3B;
}
.college-page .load_more_side
{
	height: 1px;
	min-height: 1px !important;
	max-height: 1px !important;
	background: #CCC;
	width: 100%;
}
.college-page .load_more_side_hover, .college-page .load_more_active
{
	background: #E54B3B;
}
.college-page .comment_post_button
{
	width: 470px;
	min-width: 470px !important;
	max-width: 470px !important;
	padding: 3px 2px 8px 18px;
	text-align: right;
}
.college-page .submit_button_big
{
	background: url('submit_button.png') repeat-x bottom left;
	color: #FFF;
	border: 1px solid #B12618;
	padding: 13px 40px 12px;
	cursor: pointer;
	margin-left: 100px;
	border-radius: 5px;
}
.college-page .comment_submit_button
{
	color: #FFF;
	background: rgb(234, 75, 59);
	/*Old browsers*/
	background: -moz-linear-gradient(top, rgba(234,75,59,1) 0%, rgba(221,66,51,1) 24%, rgba(184,42,28,1) 72%, rgba(177,38,24,1) 86%, rgba(177,38,24,1) 100%);
	/*FF3.6+*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,75,59,1)), color-stop(24%,rgba(221,66,51,1)), color-stop(72%,rgba(184,42,28,1)), color-stop(86%,rgba(177,38,24,1)), color-stop(100%,rgba(177,38,24,1)));
	/*Chrome,Safari4+*/
	background: -webkit-linear-gradient(top, rgba(234,75,59,1) 0%,rgba(221,66,51,1) 24%,rgba(184,42,28,1) 72%,rgba(177,38,24,1) 86%,rgba(177,38,24,1) 100%);
	/*Chrome10+,Safari5.1+*/
	background: -o-linear-gradient(top, rgba(234,75,59,1) 0%,rgba(221,66,51,1) 24%,rgba(184,42,28,1) 72%,rgba(177,38,24,1) 86%,rgba(177,38,24,1) 100%);
	/*Opera 11.10+*/
	background: -ms-linear-gradient(top, rgba(234,75,59,1) 0%,rgba(221,66,51,1) 24%,rgba(184,42,28,1) 72%,rgba(177,38,24,1) 86%,rgba(177,38,24,1) 100%);
	/*IE10+*/
	background: linear-gradient(to bottom, rgba(234,75,59,1) 0%,rgba(221,66,51,1) 24%,rgba(184,42,28,1) 72%,rgba(177,38,24,1) 86%,rgba(177,38,24,1) 100%);
	/*W3C*/
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea4b3b', endColorstr='#b12618',GradientType=0 );
	/*IE6-9*/
	border: 1px solid #B12618;
	padding: 2px 5px 3px;
	cursor: pointer;
	margin-right: 4px;
}
.college-page .comment_submit_button_hover
{
	background: url('submit_button.png') repeat-x top left;
}
.college-page .comment_avatar, .college-page .top_confession_avatar
{
	height: 40px;
	width: 40px;
	margin-right: 10px;
}
.college-page .comment_element
{
	margin-top: 10px;
}
.college-page .confession_comment_wrapper.twoComs
{
	height: 160px;
	overflow: hidden;
}
.college-page .confession_likes
{
	margin-top: 10px;
}
.college-page .top_confession_element
{
	margin: 10px 0 0;
	border-bottom: 1px solid #ECECEC;
	padding-bottom: 12px;
}
.college-page .top_confession_element:last-child
{
	margin: 10px 0 0;
	border-bottom: none;
	padding-bottom: 12px;
}
.confession_comment_container
{
	display: none;
}
.confession_comment_container.active
{
	display: block;
}
.college-page .top_confession_limit
{
	max-width: 280px !important;
	min-width: 280px !important;
}
.college-page .top_confession_splitter
{
	background: #ECECEC;
	margin-top: 10px;
	height: 1px;
	min-height: 1px !important;
	max-height: 1px !important;
}
.college-page .loadmore
{
	padding: 16px 0 11px;
	width: 136.3%;
	margin-left: -118px;
}
.college-page .loadmore:hover + A
{
	color: #E54B3B;
}
.college-page .loadmore .loadbg
{
	height: 1px;
	background-color: #CCC;
}
.college-page .loadmore .loadbg.active
{
	height: 1px;
	background-color: #E54B3B;
}
.college-page .loadmore SPAN
{
	position: relative;
	top: -10px;
	background-color: #FFFFFF;
	padding: 0 5px;
	display: inline-block;
	margin-left: 203.5px;
}
.loadmoreConfessions.loadmore
{
	width: 103.6%;
	margin-left: -10px;
}
.college-page .loadmore SPAN A
{
	font-size: 12px;
	color: #CCC;
}
.college-page .loadmore SPAN A.active
{
	font-size: 12px;
	color: #E54B3B;
}
