.discover-page .school_field
{
	color: #000;
	font-weight: bold;
	margin: 10px -7% 0 0;
	font-size: 17px;
}
.discover-page #home_register_inner
{
	margin-left: -3%;
}
.socal-wrapper
{
	max-width: 40%;
}
.discover-page #home_register_inner INPUT
{
	border-left: none !important;
	/*+border-radius:0;*/
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-khtml-border-radius: 0 !important;
	border-radius: 0 !important;
	border-radius: 0 0 0 0 !important;
	margin-left: -2px;
	position: relative;
}
.discover-page #home_register_inner .row .prefix
{
	background: #FFFFFF;
	border-top: 4px solid #EAEAEA;
	border-bottom: 4px solid #EAEAEA;
	border-left: 4px solid #EAEAEA;
	border-right: none !important;
	/*+box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);*/
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.discover-page #home_register_inner .row .prefix I
{
	position: absolute;
	/*[disabled]top:8px;*/
}
.autocomplete-suggestions
{
	border: 1px solid #999;
	background: #FFF;
	/*+border-radius:0 0 5px 5px;*/
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	-khtml-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	overflow: auto;
}
.autocomplete-suggestion
{
	padding: 10px 5px;
	border-top: 1px solid #999999;
	white-space: nowrap;
	overflow: hidden;
}
.autocomplete-selected
{
	background: #F0F0F0;
}
.autocomplete-suggestions STRONG
{
	font-weight: normal;
	color: #E54B3B;
}
.discover-page .content_element
{
	background-color: #FFFFFF;
}
.discover-page .school_submit
{
	margin: 0 10px 0 25px;
}
.discover-page .search_input
{
	padding-left: 33px;
	width: 131%;
}
.discover-page #home_register_inner I.fa-search
{
	color: #C0BBBE;
	position: absolute;
	z-index: 1;
	bottom: 27%;
	left: 27%;
}
.discover-page .search_request_form_link
{
	float: right;
	font-size: 12px;
	color: #BBB;
	padding-top: 5px;
	font-family: inherit;
}
.discover-page .search_request_form_link A
{
	color: #E54B3B;
	text-decoration: none;
}
.discover-page .search_request_form_link A:hover
{
	text-decoration: underline;
}
.discover-page .state_header
{
	font-size: 18px;
	font-weight: bold;
	border-bottom: 1px solid #ECECEC;
	padding: 20px 0 8px 20px;
}
.discover-page .college_element
{
	font-size: 15px;
	padding: 8px 0 8px 25px;
	border-bottom: 1px solid #ECECEC;
}
.discover-page .college_element A
{
	color: #555;
	text-decoration: none;
}
.discover-page .college_element A:hover
{
	color: #E54B3B;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
}
.discover-page UL.colleges
{
	height: 85px;
	overflow: hidden;
	margin-bottom: 0;
	margin-left: 0;
}
.discover-page UL.colleges LI
{
	list-style: none;
	padding-left: 17.6px;
	margin-left: 0;
}
.discover-page .discover_load_more
{
	font-size: 12px;
	padding: 7px 0 10px 25px;
}
.discover-page .discover_load_more A
{
	color: #BBB;
	text-decoration: none;
}
.discover-page .discover_load_more A:hover
{
	color: #E54B3B;
	text-decoration: none;
}
#college_sub_text
{
	color: #DFE9F5;
	font-size: 30px;
	font-weight: bold;
}
.discover-page .college_stat
{
	padding: 5px 20px;
	margin-top: 10px;
	font-size: 25px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
}
.discover-page .college_stat_name
{
	color: #EAECEB;
}
.discover-page .college_stat_splitter
{
	border-left: 1px solid #000;
	border-right: 1px solid #666;
	margin: 0 5px;
}
.discover-page .college_confession_element
{
	margin: 20px 5px 10px;
}
.discover-page .college_avatar
{
	display: block;
	=border: 4px solid #DFDFDF;
	width: 70px;
	height: 70px;
	overflow: hidden;
}
.discover-page .college_image_icons
{
	float: left;
	min-width: 75px !important;
	max-width: 75px !important;
}
.discover-page .college_tacc_confession
{
	background: url('comment_sprite.png') no-repeat 0 1px;
	width: 16px;
	height: 16px;
	float: left;
	margin: 4px 5px 0;
}
.discover-page .college_tacc_confession:hover, .discover-page .confession_taccd
{
	background: url('comment_sprite.png') no-repeat -17px 1px;
	cursor: pointer;
}
.discover-page .college_expand_confession
{
	background: url('comment_sprite.png') no-repeat 0 -15px;
	width: 16px;
	height: 16px;
	float: left;
	margin: 4px 3px 0;
}
.discover-page .college_expand_confession:hover, .discover-page .confession_expanded
{
	background: url('comment_sprite.png') no-repeat -16px -15px;
	cursor: pointer;
}
.discover-page .college_goto_comments
{
	background: url('comment_sprite.png') no-repeat 0 -31px;
	width: 16px;
	height: 16px;
	float: left;
	margin: 4px 5px 0;
}
.discover-page .college_goto_comments:hover
{
	background: url('comment_sprite.png') no-repeat -17px -31px;
	cursor: pointer;
}
.discover-page .college_confession_text
{
	float: left;
	margin-left: 5px;
	min-width: 490px !important;
	max-width: 490px !important;
}
.discover-page .college_author
{
	font-weight: bold;
	min-height: 20px !important;
}
.discover-page .college_author A
{
	color: #000000;
	text-decoration: none;
}
.discover-page .college_author A:hover
{
	text-decoration: underline;
}
.discover-page .college_author_grey
{
	color: #BBB;
}
.discover-page .college_confession
{
	font-size: 13px;
	margin: 3px 0;
	=min-height: 46px !important;
	=white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
.discover-page .college_avatar:hover
{
	opacity: 0.discover-page .8;
}
.discover-page .college_confession_other
{
	color: #BBB;
	font-size: 12px;
}
.discover-page .confession_bullet
{
	margin: 0 5px;
	font-weight: bold;
}
.discover-page .confession_toggle_comments
{
	cursor: pointer;
}
.discover-page .confession_toggle_comments, .discover-page .confession_red_text
{
	color: #E54B3B;
}
.discover-page .confession_toggle_comments:hover
{
	text-decoration: underline;
}
.discover-page .confession_comments
{
	display: none;
}
.discover-page .confession_user_likes
{
	margin-top: 10px;
}
.discover-page .like_avatar
{
	width: 30px;
	height: 30px;
	margin: 0 5px;
}
.discover-page .load_more_text
{
	color: #BBBBBB;
	font-size: 13px;
	cursor: pointer;
	height: 40px;
	width: 150px;
	padding-bottom: 1px;
	text-align: center;
}
.discover-page .load_more_text_hover
{
	color: #E54B3B;
}
.discover-page .load_more_side
{
	height: 1px;
	min-height: 1px !important;
	max-height: 1px !important;
	background: #CCC;
	width: 100%;
}
.discover-page .load_more_side_hover, .discover-page .load_more_active
{
	background: #E54B3B;
}
.discover-page .comment_post_button
{
	width: 470px;
	min-width: 470px !important;
	max-width: 470px !important;
	padding: 3px 2px 8px 18px;
	text-align: right;
}
.discover-page .submit_button_big
{
	background: url('submit_button.png') repeat-x bottom left;
	color: #FFF;
	border: 1px solid #B12618;
	padding: 13px 40px 12px;
	cursor: pointer;
	margin-left: 100px;
	border-radius: 5px;
}
.discover-page .comment_submit_button
{
	background: url('submit_button.png') repeat-x bottom left;
	color: #FFF;
	border: 1px solid #B12618;
	padding: 2px 5px 3px;
	cursor: pointer;
	margin-right: 4px;
}
.discover-page .comment_submit_button_hover
{
	background: url('submit_button.png') repeat-x top left;
}
.discover-page .comment_avatar, .discover-page .top_confession_avatar
{
	height: 40px;
	width: 40px;
	margin-right: 10px;
}
.discover-page .comment_element
{
	max-width: 460px !important;
	min-width: 460px !important;
	margin-top: 10px;
}
.discover-page .comment_limit
{
	max-width: 440px !important;
	min-width: 440px !important;
}
.discover-page .confession_likes
{
	margin-top: 10px;
}
.discover-page .top_confession_element
{
	max-width: 330px !important;
	min-width: 330px !important;
	margin: 10px 0 12px;
}
.discover-page .top_confession_limit
{
	max-width: 280px !important;
	min-width: 280px !important;
}
.discover-page .top_confession_splitter
{
	background: #ECECEC;
	height: 1px;
	min-height: 1px !important;
	max-height: 1px !important;
}
