/*+clearfix {*/
.full-row:after, #taccd_stats:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
.full-row, #taccd_stats
{
	display: inline-block;
}
.full-row, #taccd_stats
{
	/*\*/
	display: block;
	/**/
	-height: 1px;
}
/*+}*/
.home_input
{
	margin-top: 0;
}
.reveal-modal
{
	padding-bottom: 0;
}
/*[clearfix]*/.full-row
{
	max-width: inherit;
	margin-left: 0;
	margin-right: 0;
}
#home_top, #discover_top
{
	padding: 55px 0;
	background-repeat: repeat-x;
	background-position: center center;
	text-align: center;
	color: #FFF;
}
#home_top .submit_cover_art
{
	width: 980px;
	margin: 0px auto 0px;
}
#home_top .submit_cover_art .link
{
	font-size: 12px;
	position: absolute;
	bottom: 3px;
	padding: 5px;
	cursor: pointer;
}
#home_top .submit_cover_art .link:hover
{
	text-decoration: underline;
}
#home_main_text
{
	font-weight: bold;
	font-size: 50px;
}
#home_register
{
	border: 4px solid rgba(223, 223, 223, 0.2);
	background: rgba(255, 255, 255, 0.8);
	margin: auto;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: -30px;
}
#home_register_inner
{
	padding: 25px 20px 10px;
}
#home_explore
{
	background: #FFF;
	padding-top: 8px;
	padding-bottom: 63px;
	border-bottom: 5px solid #F0F0F0;
}
#home_explore_limiter
{
}
#home_eplore_main_text
{
	font-size: 44px;
	text-align: center;
	padding: 45px 0 40px;
	border-bottom: 1px solid #ECECEC;
	font-weight: bold;
}
.explore_sub
{
	margin-top: 42px;
}
.explore_sub_header
{
	font-size: 20px;
	font-weight: bold;
	border-bottom: 1px solid #ECECEC;
	padding-bottom: 15px;
}
.explore_sub_content
{
	color: #AAA;
	padding: 15px 0;
	font-size: 13px;
	line-height: 1.8em;
}
.explore_sub_link
{
	font-size: 11px;
}
.explore_sub_link A
{
	color: #B4B4B4;
	text-decoration: none;
}
.explore_sub_link I
{
	color: #E34F37;
	font-weight: bold;
	padding-right: 5px;
}
.explore_sub_link A:hover
{
	color: #E54B3B;
}
/*[clearfix]*/#taccd_stats
{
	background: #E54C3C;
	/*[disabled]height:264px;*/
	padding: 58px 0 12px;
	border-bottom: 5px solid #A63428;
	margin-bottom: -20px;
}
#taccd_stats .large-4:nth-child(even)
{
	border-right: 1px solid #A63429;
	border-left: 1px solid #A63429;
}
#taccd_stats .large-6:nth-child(even)
{
	border-right: 1px solid #A63429;
	border-left: 1px solid #A63429;
}
#taccd_stats .columns:last-child
{
	border-right: none;
}
#taccd_stats .row
{
	margin-bottom: 44px;
}
.input-group
{
	display: inline-block;
}
H1
{
	font-weight: bold;
	color: #E64C3C;
	font-size: 22px;
}
#taccd_stats H2
{
	color: #FFF;
	text-align: center;
	font-size: 20px;
	text-shadow: 0 1px 2px #000;
	padding: 0;
	margin: 0;
}
.stat
{
	display: block;
	float: left;
	margin: 0 15px;
	width: 200px;
}
.stats_first_line, .stats_second_line
{
	display: block;
	text-align: center;
	min-width: 700px !important;
	max-width: 700px !important;
	margin: 0 auto;
}
.stats_second_line
{
	min-width: 500px !important;
	max-width: 500px !important;
}
.stats_first_line
{
	padding: 48px 0;
}
.stats_second_line
{
	width: 400px;
	padding: 60px 0;
}
.stat_two
{
	border-left: 1px solid #A63428;
	border-right: 1px solid #A63428;
}
.stat_three
{
	border-right: 1px solid #A63428;
	padding-right: 20px;
}
